:root {
  --fuild-typography-size: 2vw + 1rem;
  --large-screen-size: 7.5vw + 1rem;
  --medium-screen-size: 5vw + 1rem;
}

body * {
  color: inherit;
  margin: unset;
  padding: unset;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

body .w-container:before,
body .w-container:after {
  content: none;
}

.cl-section {
  padding-inline: max(1.5rem, 5vw);
}
/* SCROLLBAR */
.cl-body {
  scrollbar-width: thin;
}
.cl-body::-webkit-scrollbar,
*::-webkit-scrollbar {
  --size: 0.5rem;
  width: var(--size);
  height: var(--size);
}

body::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0 0 0 / 10%);
  padding-inline: 0.25rem;
  border-radius: 999px;
}

body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate-blue);
  border-radius: 999px;
  max-width: 0.25em;
}
/* NAVBAR   */
.cl-navbar *:not(.dropdown-list, .nav-link, .is-light-primary) {
  color: inherit;
}
#navbar > * {
  color: inherit;
}

@media (min-width: 991px) {
  .cl-navbar .nav-link {
    color: inherit;
  }
}

.cl-navbar .dropdown-icon {
  color: inherit;
}
@media screen and (max-width: 991px) {
  .cl-navbar .cl-navbar_menu-button.w-nav-button {
    display: inherit;
  }
}

.cl-section.is-solutions-hero {
  clip-path: url(#heroClipShape);
}

/* HERO */
.cl-section:is(.is-hero-logos, .is-hero-image) {
  --pik-percentage: 98%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% var(--pik-percentage),
    50% 100%,
    0 var(--pik-percentage)
  );
}
@media (min-width: 480px) {
  .cl-section:is(.is-hero-logos, .is-hero-image) {
    --pik-percentage: 95%;
  }
}

@media (min-width: 992px) {
  .cl-section:is(.is-hero-logos, .is-hero-image) {
    --pik-percentage: 90%;
  }
}

/* HERO FORM */
.cl-form_field.is-solutions-hero::placeholder {
  font-style: normal;
  color: inherit;
}

/* HERO FEATURES CARDS */
.cl-hero_features-grid {
  overflow-x: scroll;
}

/* BUTTONS */
.cl-button.is-outline {
  border-color: inherit;
}
.cl-button.is-tertiary:not(:hover) {
  color: white;
}
.cl-button.is-tertiary:before {
  content: "";
  position: absolute;
  border-radius: 0.25rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 3px;
  background-color: black;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.cl-button.is-tertiary:hover:before {
  opacity: 0;
}

/* TESTIMONIAL */
.cl-testimonials_description {
  font-size: clamp(1.5rem, var(--fuild-typography-size), 2.5rem);
}

.w-tabs:before,
.w-tabs:after {
  content: none;
}

@media screen and (min-width: 991px) {
  .cl-tabs_testimonial_menu:not(:has(.cl-testimonials_brand.is-pagination)) {
    border: unset;
  }
  .cl-tabs_testimonial_link:not([aria-selected="true"]):not(:hover)
    .cl-testimonials_progration-bar {
    opacity: 0.5;
  }
  .cl-tabs_testimonial_link:not(.w--current):has(.cl-testimonials_brand.is-pagination)
    .cl-testimonials_progration-bar {
    opacity: 0;
  }
  .cl-tabs_testimonial_arrow {
    opacity: clamp(0.05, calc(var(--x-displacement) / 100), 1);
  }
}

@media screen and (min-width: 991px) {
  .cl-testimonials_description {
    font-size: clamp(1.5rem, 3.5vh, 2.5rem);
  }
}
@media screen and (max-width: 767px) {
  .cl-content_container.is-testimonials-image {
    mix-blend-mode: lighten;
  }
}

.cl-testimonials_pagination-item:not([data-state="active"]):not(:hover) {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .cl-testimonials_pagination:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #fff;
    opacity: 0.5;
  }

  .cl-testimonials_pagination-item:not([data-state="active"])
    .cl-testimonials_progration-bar {
    max-width: 0;
  }
}

@media screen and (max-width: 767px) {
  .cl-content_wrapper.is-banner:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.97) 65%,
      rgba(255, 255, 255, 0)
    );
  }
}

/* BROWSER EXTENSION */
.cl-content_wrapper.is-browser-extension:hover
  .is-content-dashboard.is-browsers-extension {
  transform: rotateY(0deg);
}
/* SOLUTIONS */
.cl-solutions-grid:hover .cl-solutions-grid_item:not(:hover) {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .cl-image.is-solutions-addons.is-software-security {
    /* max-width: 110%; */
    width: calc(100% + 1.125rem);
  }
}

/*
  @media screen and (min-width: 992px) {
  .cl-solutions-grid_item.is-application-directory:not(:hover)
  .cl-content_image-wrapper {
  transform: translateY(20%);
  }
  .cl-solutions-grid_item.is-software-security:not(:hover)
  .cl-content_image-wrapper {
  transform: translateX(20%);
  }
  .cl-solutions-grid_item.is-optimization-recommendations:not(:hover)
  .cl-content_image-wrapper {
  transform: translateX(-20%);
  }
  .cl-solutions-grid_item.is-accounting-automation:not(:hover)
  .cl-content_image-wrapper {
  transform: translateY(-5rem);
  }
  }
  */

/* FOOTER */
.is-footer-links-list:hover li:not(:hover) {
  opacity: 0.5;
}

/* SOCIAL LINKS */
.cl-social-links:hover > .cl-social-links_item:not(:hover) {
  opacity: 0.5;
}
.cl-solutions-grid_item:not(:hover):before,
.cl-solutions-grid_item:not(:hover):after {
  opacity: 0;
}
/* STEP GUIDE */
@media screen and (min-width: 991px) {
  .cl-dropdown.is-steps-list:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: min(calc(var(--step-progress, 0) * 1%), 100%);
    height: 4px;
    background: var(--brand-color--primary);
    transform: translateY(50%);
  }

  .cl-step-guide_item:not(:has(.w--open)):not(:hover) {
    opacity: 0.25;
  }

  .cl-dropdown_container.is-steps-list:after {
    content: "";
    display: block;
    height: 1rem;
    position: relative;
    flex-shrink: 0;
  }
  .cl-step-guide_image-container {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
  }
}

/* COMPARISON TABLE */
@media screen and (max-width: 767px) {
  .cl-comparison-table_cell:not(.is-first-cell-mobile):nth-of-type(odd):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.02);
  }
}
/* FEATURE LIST */
.cl-dropdown_container.is-feature-list:after {
  content: "";
  display: block;
  height: 1rem;
  position: relative;
  flex-shrink: 0;
}

.cl-dropdown.is-feature-list.w-dropdown:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  max-width: 0;
  transition: max-width 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  background: #61c4d0;
}

.cl-dropdown.is-feature-list.w-dropdown:has(.w--open):before {
  max-width: 100%;
}

.cl-dropdown_button.is-feature-list.w--open {
  color: #61c4d0;
}
.cl-dropdown_button.is-feature-list {
  transition: color 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.cl-step-line_wrapper:hover .cl-step-line_item:not(:hover) {
  filter: saturate(0.4);
}

.cl-step-line_wrapper:before,
.cl-step-line_wrapper:after {
  --border-color: #c2edf5;
  --border: 2px dashed var(--border-color);
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  margin-block: 10%;
  height: 100%;
  max-height: 80%;
  border: var(--border);
  z-index: -2;
}

.cl-step-line_wrapper:after {
  --grow: calc(var(--line-grow) * 1%);
  --border-color: #56cbd6;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% var(--grow), 0% var(--grow));
}

@media (min-width: 992px) {
  .cl-step-line_wrapper:before,
  .cl-step-line_wrapper:after {
    top: 3rem;
    left: 0;
    margin-block: unset;
    margin-inline: 10%;
    width: 100%;
    height: unset;
    max-height: unset;
    max-width: 80%;
  }

  .cl-step-line_wrapper:after {
    clip-path: polygon(0 0, var(--grow, 0) 0, var(--grow, 0) 100%, 0% 100%);
  }
}

.cl-step-line_item:last-child .cl-step-line_icon-container {
  background: var(--ligth-teal-cleadara);
}

/* FAQS */
.cl-faq_list .cl-dropdown_container:before {
  content: "";
  min-height: 2em;
  display: block;
}

/* RESOURCES */
@media screen and (min-width: 773px) {
  .cl-section.is-slider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 35%;
    background: inherit;
    z-index: 5;
  }
  .cl-content_container.is-slider-content:before,
  .cl-content_container.is-slider-content:after {
    --gradient-orientation: 90deg;
    content: "";
    position: absolute;
    top: 0;
    height: 110%;
    background: linear-gradient(
      var(--gradient-orientation),
      #201f3c 10%,
      rgb(32 31 60 / 90%) 25%,
      rgb(32 31 60 / 70%) 55%,
      rgb(32 31 60 / 0%)
    );
    width: 25%;
  }
  .cl-content_container.is-slider-content:before {
    --gradient-orientation: -90deg;
    right: calc(100% - 4px);
  }
  .cl-content_container.is-slider-content:after {
    --gradient-orientation: 90deg;
    left: calc(100% - 4px);
  }
}

/* STICKY FEATURES */
.cl-sticky_grid-img_wrapper img {
  grid-area: 1/1;
}
.cl-section.is-sticky {
  --sticky-top: 0px;
  top: var(--sticky-top);
}
